body {
  background-color: rgb(20, 20, 20);
}
ion-icon {
  font-size: 24px;
}
.genres {
  display: inline;
}
.avatar {
  height: 30px;
}
h1 {
  color: white;
  font-family: "Kanit", sans-serif, bold;
}
h2 {
  color: white;
}
#genre {
  background-color: black;
  color: white;
}
#iconsBorder {
  color: white;
}
#movies {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.footer-link {
  color: rgb(155, 155, 155);
  text-decoration: none;
  font-size: 12px;
}
#shows {
  font-family: "Kanit", sans-serif, bold, 1200;
  font-size: 36px;
}
#serviceButton {
  display: flex;
  align-items: center;
}
.square {
  display: flex;
  justify-content: center;
  width: 50px;
}
#bottomIcon {
  font: 35px white;
  color: grey;
}
